* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

:root {
  --body-bg-color: #FAF7FD;
  --purple: #BB99DD;
}

main {
  max-width: 62rem;
  margin: 0 auto;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

.img-perfil {
  border: 2px var(--purple) solid;
  border-radius: 50%;
  padding: 0.31rem;
}

.instagram {
  text-decoration: none;
  color: var(--purple);
  font-size: 1rem;
  font-weight: 300;
}

.container-link {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container-link a {
  display: flex;
  text-decoration: none;
  color: var(--purple);
  font-size: 1rem;
  font-weight: 600;
  border: 2px var(--purple) solid;
  border-radius: 4px;
  width: 20rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
}

.container-icon-social {
  display: flex;
  gap: 1.5rem;
}