* {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather Sans', Arial, Helvetica, sans-serif;
  color: var(--text-color);
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

:root {
  --body-bg-color: #22212C;
  --text-color: #837E9F;
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 100rem;
  padding: 3.34rem;
  background: var(--body-bg-color);
}

.sidbar-left {
  display: grid;
  gap: 1.87rem;
}

.grid-perfil {
  width: 21.75rem;
  height: 18.25rem;
  background: var(--bg-cards);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.25rem;
  text-align: center;

}

.grid-perfil img {
  width: 8rem;
  height: 8rem;
  padding-top: 2.5rem;
  display: block;
  margin-bottom: 1.88rem;
}

.perfil-nome {
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 0.63rem;
}

.grid-perfil p {
  font-size: 0.82rem;
}

.grid-midia-sociais {
  display: grid;
  grid-template-columns: 1fr 7fr;
  align-items: center;
  width: 17.7rem;
  height: 19.75rem;
  background: var(--bg-cards);
  border-radius: 1.25rem;
  padding: 2rem;
}

.grid-midia-sociais img {
  color: #837E9F;
}

.grid-midia-sociais a {
  display: inline-block;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
